<div *ngIf="!sudokuService.toggleSolution">
    <div class="sudokuRow" *ngFor="let row of sudokuService.puzzle; index as i">
        <app-sudoku-square *ngFor="let column of row; index as j" [square]="sudokuService.puzzle[i][j]">
        </app-sudoku-square>
    </div>
</div>

<div *ngIf="sudokuService.toggleSolution">
    <div class="sudokuRow" *ngFor="let row of sudokuService.solvedPuzzle; index as i">
        <app-sudoku-square *ngFor="let column of row; index as j" [square]="sudokuService.solvedPuzzle[i][j]">
        </app-sudoku-square>
    </div>
</div>



<button (click)="button()" class="btn btn-primary">Pencil</button>

<button (click)="solve()" class="btn btn-primary">Solve</button>