<h2>Nasdaq</h2>
<p>Shows Stock Data</p>

<table class="table table-striped table-dark">
    <thead>
        <tr>

            <th (click)="sort('Date')" scope="col">Date</th>
            <th (click)="sort('Open')" scope="col">Open</th>
            <th (click)="sort('High')" scope="col">High</th>
            <th (click)="sort('Low')" scope="col">Low</th>
            <th (click)="sort('Close')" scope="col">Close</th>
            <th (click)="sort('Difference')" scope="col">Difference</th>




        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let indivdualData of data; index as i">

            <td>{{indivdualData.Date | date}}</td>
            <td>{{indivdualData.Open | number:'1.2-2'}}</td>
            <td>{{indivdualData.High | number:'1.2-2'}}</td>
            <td>{{indivdualData.Low | number:'1.2-2'}}</td>
            <td>{{indivdualData.Close | number:'1.2-2'}}</td>
            <td>{{indivdualData.Difference| number:'1.2-2' | negativeConvert}}</td>




        </tr>
    </tbody>
</table>