<div class="card">


    <div class="card-body">
        <h2 class="card-title">Applicable Skills and Abilities
        </h2>

        <p><b>Language: </b>

            Javascript, TypeScript, HTML5, CSS3, SCSS, SASS</p>


        <p><b>Library:</b>

            Angular, angular-cli, Node, npm, jQuery </p>

        <p><b>Tools:</b>
            Amazon Web Services, VS Code, Post Man, Eclipse, Notepad ++, Putty, VULTR, VM Ware, emacs, Ubuntu,
            FTP, Raspberry Pi </p>



    </div>
</div>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Employment</h2>
        <h5>J.P Morgan Chase</h5>
        <p class="font-italic">Senior Specialist III - Virtual Banker</p>


        <p class="font-weight-bold">November 2018 -Present</p>
        <ul>
            <li>
                <p class="card-text">Helped start a pilot program with five people and is slated to end next year
                    with
                    four
                    hundred</p>
            </li>
            <li>
                Worked closely with clients regarding their financial needs
            </li>

            <li>
                Tested new programs and gave feedback on changes that should be made</li>
            <li>
                Assisted clients with using both Chase.com and the Mobile App
        </ul>




        <p class="font-italic">Senior Specialist II - Business Banking</p>


        <p class="font-weight-bold"> December 2017 – November 2018
        </p>
        <ul>
            <li>
                <p class="card-text">Handles and resolves concerns of business bankers and business relationship
                    managers
                </p>
            </li>
            <li>
                Efficiently communicates with clientele providing over the phone and email instruction

            </li>

            <li>
                Troubleshoots solutions using knowledge of banking policy, procedures, and compliance
            </li>
            <li>
                Uses Sharepoint to initiate and submit tickets for escalated issues to higher level support group
            </li>
            <li>
                Swiftly adapts to fast paced and constantly evolving environment
            </li>
            <li>
                Assist in training and onboarding of new employees
            </li>

        </ul>

        <p class="font-italic">Senior Specialist I - Document Review & Procedures</p>


        <p class="font-weight-bold"> July 2017 – December 2018
        </p>
        <ul>
            <li>
                Expertly analyze and retain knowledge based on a variety of State laws and policies


            </li>
            <li>
                Review legal documentation regarding estates, trusts, probate court, and Power of Attorney documents

            </li>

            <li>
                Navigate through back end database systems providing clients with detailed solutions
            </li>
            <li>
                Utilize exemplary problem solving capabilities to resolve all manner of customer concerns
            </li>


        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Education</h2>
        <h5 class="float">The Ohio State University</h5>
        <p class="font-italic">Bachelors of Art, History </p>
        <p class="font-weight-bold">May 2016</p>

        <ul>
            <li>Graduated with cumulative GPA of 3.67 in major classes</li>
        </ul>
    </div>
</div>