<div class="card">
  <div class="card-body">
    <h2 class="card-title">Applicable Skills and Abilities</h2>

    <p>
      <b>Language: </b>

      Javascript, Java, TypeScript, HTML5, CSS3, SCSS, SASS
    </p>

    <p>
      <b>Library:</b>

      Angular, angular-cli, Node, npm, jQuery, Springboot, JPA, H2 Database,
      MongoDB
    </p>

    <p>
      <b>Tools:</b> Amazon Web Services, VS Code, IntelliJ, Eclipse, Post Man,
      Eclipse, Notepad ++, Putty, VULTR, VM Ware, emacs, Ubuntu, FTP, Raspberry
      Pi
    </p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Employment</h2>
    <h5>J.P Morgan Chase</h5>
    <p class="font-italic">Senior Specialist III –Virtual Banker Lab</p>

    <p class="font-weight-bold">November 2018 – Present</p>
    <ul>
      <li>
        <p class="card-text">
          Work directly with development team in testing and rolling out key
          business software
        </p>
      </li>
      <li>
        Help manage a Sharepoint site for collecting and monitoring essential
        business records
      </li>

      <li>
        Accomplish daily tasks and tracked progress in a scrum environment
      </li>
      <li>
        Manage a portfolio of over a hundred clients assisting them with their
        banking needs
      </li>
    </ul>

    <p class="font-italic">
      Senior Specialist II - Branch Operation Support Business Banking
    </p>

    <p class="font-weight-bold">December 2017 – November 2018</p>
    <ul>
      <li>
        <p class="card-text">
          Efficiently communicated with clientele providing over the phone and
          email instruction
        </p>
      </li>
      <li>
        Used Sharepoint to initiate and submit tickets for escalated issues to
        higher level support group
      </li>

      <li>Swiftly adapted to fast paced and constantly evolving environment</li>
      <li>Assisted in training and onboarding of new employees</li>
    </ul>

    <p class="font-italic">Senior Specialist I – Branch Operation Support</p>

    <p class="font-weight-bold">July 2017 – December 2018</p>
    <ul>
      <li>
        Reviewed legal documentation regarding estates, trusts, probate court,
        and Power of Attorney documents
      </li>
      <li>
        Navigated through back end database systems providing clients with
        detailed solutions
      </li>

      <li>
        Utilized exemplary problem solving capabilities to resolve all manner of
        customer concerns
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Education</h2>
    <h5 class="float">We Can Code IT Java Bootcamp</h5>
    <p class="font-italic">Java Fullstack Cohort</p>
    <p class="font-weight-bold">December 2020</p>

    <ul>
      <li>Learned Java/Springboot stack</li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="float">The Ohio State University</h5>
    <p class="font-italic">Bachelors of Art, History</p>
    <p class="font-weight-bold">May 2016</p>

    <ul>
      <li>Graduated with cumulative GPA of 3.67 in major classes</li>
    </ul>
  </div>
</div>
